POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase

MINIO_HOST=myhost
MINIO_ROOT_USER=myuser
MINIO_ROOT_PASSWORD=mypassword

RABBITMQ_HOST=myhost
RABBITMQ_USER=myuser
RABBITMQ_PASSWORD=mypassword

ELASTICSEARCH_HOST=myhost

JWT_KEY=your-super-secret-key-minimum-32-characters-long-for-security-and-jwt-token-generation

GEMINI_HOST=api
GEMINI_API_KEY=mykey

# username: user
# JWT: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6IjEiLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoidXNlciIsImh0dHA6Ly9zY2hlbWFzLnhtbHNvYXAub3JnL3dzLzIwMDUvMDUvaWRlbnRpdHkvY2xhaW1zL2VtYWlsYWRkcmVzcyI6InVzZXJAZXhhbXBsZS5jb20iLCJzdWIiOiIxIiwianRpIjoiNmJmZmZmYjUtNDJjMi00OGNkLTgzMzMtZTA0OTM4MzhjNDA1IiwiZXhwIjoxNzY4NjY4NDQyLCJpc3MiOiJQYXBlcmxlc3NBUEkiLCJhdWQiOiJQYXBlcmxlc3NDbGllbnQifQ.Kze97YHBJrCohogVp8wj-RGnQl6mvpb_lxELrAv4oRA

# username: user2
# JWT: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6IjIiLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoidXNlcjIiLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9lbWFpbGFkZHJlc3MiOiJ1c2VyMkBleGFtcGxlLmNvbSIsInN1YiI6IjIiLCJqdGkiOiI1OWY3ZjFjOC0zYjllLTQ1MTktODY0MC03N2M3MGJiNWUwZjEiLCJleHAiOjE3Njg0MTQ4ODEsImlzcyI6IlBhcGVybGVzc0FQSSIsImF1ZCI6IlBhcGVybGVzc0NsaWVudCJ9.eGLHnZhwGaz-1QkaPJuMwjcUnho80-i2BocrQorgOxc

# username: test
# JWT: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6IjMiLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoidGVzdCIsImh0dHA6Ly9zY2hlbWFzLnhtbHNvYXAub3JnL3dzLzIwMDUvMDUvaWRlbnRpdHkvY2xhaW1zL2VtYWlsYWRkcmVzcyI6InRlc3RAZXhhbXBsZS5jb20iLCJzdWIiOiIzIiwianRpIjoiNjMzZTkyOTItYzYyOS00ZjMzLWJkMDYtNzRkN2E1NTY1ZmVjIiwiZXhwIjoxNzY5OTgwNzU0LCJpc3MiOiJQYXBlcmxlc3NBUEkiLCJhdWQiOiJQYXBlcmxlc3NDbGllbnQifQ.t17GAHz-ltzuJSqZ-drkJDrHlZR6QYkJTuWn57JQEqw


OCR
{"id":"25","filename":"UserID-3_SWEN3_Sprint3.pdf", "userId":"3"}

GENAI
{"id":"17","text":"Sprint 2: (Web-)UI\n\n1. Webserver service (e.g. nginx or else) integrated\n2. Dashboard and detail-pages are served by the webserver\n3. The Webpage communication with the REST server\n\n4. Extend docker-compose.yml to run the UI in an additional container\n\nSemester Project Information | SWEN3 | BIF5 7\n"}

RESULT
{"id":"17","summary":"This document outlines the objectives for Sprint 2 concerning the Web User Interface (UI). Key tasks include integrating a webserver (e.g., Nginx) to serve dashboard and detail pages, enabling the webpage to communicate with a REST server, and extending \u0060docker-compose.yml\u0060 to run the UI in a dedicated container."}


ELASTICSEARCH - OCR
userid 1: {"id":"20","filename":"UserID-1_SWEN3_Sprint2.pdf", "userId":"1"}
userid 2: {"id":"23","filename":"UserID-2_SWEN3_Sprint3.pdf", "userId":"2"}
